project_id = "wpmbepsngubducokghwn"

[functions.market-data]
verify_jwt = false

[functions.economic-news]
verify_jwt = false

[functions.analyze-chart]
verify_jwt = false

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
